//  Purchase css
.purchase_panel {
  margin: auto;
  width: 80%;
  text-align: left;
  @media #{$large-mobile} {
    text-align: center;
  }
}

.title_img {
  max-width: 500px;
  object-fit: contain;
  @media #{$smlg-device} {
    width: 100%;
  }
}

.expand_img {
  display: block;
  position: fixed;
  z-index: 1000;
  top: 25%;
  left: 25%;
  transform: scale(1.6);
  transition: transform 0.6s ease;
}

.expand_ticket_img {
  display: block;
  position: fixed;
  z-index: 1000;
  top: 15%;
  left: 2%;
  transform: scale(0.6);
  transition: transform 0.6s ease;
}


.line {
  background-image: url(/assets/images/line.png);
  background-size: contain;
  background-repeat: repeat-y;
  margin-left: 65%;
  height: 1000px;
  width: 50px;
  background-repeat: repeat-y;
  @media #{$md-layout} {
    margin: auto;
    height: 700px;
    width: 60px;
    rotate: 90deg;
  }
  @media #{$sm-layout} {
    margin: auto;
    height: 700px;
    width: 60px;
    rotate: 90deg;
  }
}

.file-input {
  input {
    border: none;
    outline: none;
    margin-left: 0;
    padding-left: 0;
  }
}