.slide-down {
  animation: slide-down 300ms ease-out forwards;
}

h3 {
  &.label {
    color: $body-color;
  }
}

.error_panel {
  top: 50px;
  left: 25%;
  max-width: 50%;
  position: fixed;
  z-index: 10000;
  animation: slide-down 300ms ease-out forwards;

  .action_btns {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  @media #{$small-mobile} {
    padding: 0 40px 40px;
  }
}

.logout_alert {
  position: fixed;
  padding: 20px;
  z-index: 1000;
  top: 20px;
  right: 10%;
  animation: slide-down 300ms ease-out forwards;
}

.x_icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

